__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

.vscode/
.idea/
.DS_Store
Thumbs.db

artifacts/*
!artifacts/models/
!artifacts/models/*.pkl
!artifacts/plots/
!artifacts/plots/metrics_summary.csv


*.log
.pytest_cache/
.streamlit/
